@{
    ViewBag.Title = "Enalyzer ATM";
}

@*Home page section containing title of the app*@
<section id="sectionHome">
    <span>Enalyzer</span>
    <span>ATM</span>
</section>
    
@*Application touch pad section*@
<section id="sectionTouchPad" style="background-color:blue">
    <div>@ViewBag.AmountTitle</div>
    <div>
        &pound;<input id="amountInput" />
    </div>
    <div id="touchPad">
        <div>1</div><div>2</div>
        
        @*<div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>AR</div>
        <div>0</div>*@
    </div>
    <div>
        <button id="amountButton">Submit</button>
    </div>
</section>

@*Application result section*@
<section id="sectionResult"style="background-color:red">
    <div id="backArrow">BACK</div>
    <span>test2</span>
</section>