@{
    ViewBag.Title = "Enalyzer ATM";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@*Home page section containing title of the app*@
<section id="sectionHome">
    <span>Enalyzer</span>
    <span>ATM</span>
</section>
    
@*Application touch pad section*@
<section id="sectionTouchPad">
    <div class="container_Div" id="touchPad_Title">@ViewBag.TouchPadTitle</div>
    
    <div class="container_Div" id="touchPad_Amount">
        <span>&pound;</span>
        <span id='touchPad_AmountInput'></span>
    </div>
    
    <div class="container_Div" id="touch Pad_Container">
        <div id="touchePad_FirstRow">
            <input type='button' class='touchPad_Touch' value='1'/>
            <input type='button' class='touchPad_Touch' value='2'/>
            <input type='button' class='touchPad_Touch' value='3'/>
        </div>
        <div id="touchePad_SecondRow">
            <input type='button' class='touchPad_Touch' value='4'/>
            <input type='button' class='touchPad_Touch' value='5'/>
            <input type='button' class='touchPad_Touch' value='6'/>
        </div>
        <div id="touchePad_ThirdRow">
            <input type='button' class='touchPad_Touch' value='7'/>
            <input type='button' class='touchPad_Touch' value='8'/>
            <input type='button' class='touchPad_Touch' value='9'/>
        </div>
        <div id="touchePad_FourthRow">
            <div class="touchPad_Touch" id="touchPad_Erase"><i class='fas fa-arrow-left'></i></div>
            <input type='button' class='touchPad_Touch' value='0' />
        </div>
    </div>
    
    <div class="container_Div" id="touchPad_Submit">
        <button id="touchPad_SubmitButton">submit</button>
    </div>
</section>

@*Application result section*@
<section id="sectionResult">
    <div id="result_BackArrow">BACK</div>
    <div class="container_Div" id="result_Title">@ViewBag.ResultTitle</div>

    <div class="container_Div" id="result_Amount"></div>

    <div class="container_Div" id="result_Summary">
        <div id="result_SummaryNotes"></div>
        <div id="result_SummaryBigCoin"></div>
        <div id="result_SummarySmallCoin"></div>
    </div>

    <div class="container_Div" id="result_Thanks">
        <span>@ViewBag.ThanksMessage</span>
        <span>@ViewBag.Title</span>
    </div>
</section>