body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: #2bbed3;
}

/******** CSS COMMON TO ALL SECTION ******/

/*Remove border from all input and button*/
input, button {
    outline: none;
}
/*CSS separating different container. (ex Title, Amout, TouchPad, ResultList...) */
.container_Div {
    margin-top: 2%;
    /*display:flex;*/
}
/*CSS for every section to manage responsive*/
section {
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*CSS For the touch effect*/
.touch {
    background-color: #2bbed3;
    color: white;
    box-shadow: white 0 0 1px 1px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    padding: 0;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.2s, 0.4s;
    -webkit-transition-timing-function: linear, ease-in;
    float: left;
    line-height: 60px; /*Align the arrow*/
}
.touch:hover {
    background-color: white;
    color: #2bbed3;
    cursor: pointer; /*Render cursor for the arrow*/
}
/*CSS for amount display*/
.amountDisplay {
    min-width: 100px;
    font-size: 80px;
    font-weight: bold;
}

/****** CSS for the first section ******/
#sectionHome {
    justify-content: center;
    font-size: 80px;
}



/****** CSS for the touchPad Section *******/
#touchPad_AmountInput {    
   /*background: #2bbed3;
    color: white;*/ 
    border-right:1px solid white;
}
#touchPad_SubmitButton {
    background: #2bbed3;
    color: rgba(255, 255, 255, 0.5);
    border:1px solid;
    font-size: 40px;
    text-align: center;
    width: 170px;
    height: 60px;
    padding: 0;
    float: left;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    border-top-left-radius:60px;
    border-top-right-radius:60px;
}
.touchPad_Active {
    color: rgba(255, 255, 255, 1) !important;
    -webkit-transition-property:color, background; 
    -webkit-transition-duration: 0.2s, 0.4s; 
    -webkit-transition-timing-function: linear, ease-in; 
}
.touchPad_Active:hover {
    background-color:white !important;
    color: #2bbed3 !important;
}



/**** CSS for the summary Section ******/
#result_BackArrow {
    position: absolute;
    top: 2%;
    left: 2%;
}
#result_Summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.result_SummaryMoney {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.moneyContainer {
    border: 1px solid white;
    font-weight: normal;
    width: 376px;
    height: 95px;
    display: flex;
    align-items: center;
}
.moneySymbol {
    width: 120px;
    height: 60px;
    margin-left: 20px;
    margin-right: 10px;
}
.moneySymbolNotes {
    background-color:white;
}
.moneySymbolCoins {
    background-color: #2bbed3;
}
/*Define css for notes and coins. Add here new css for different kind of money*/
.moneySymbol div {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 40px;
}
.Notes {
    background-color: #2bbed3;
}
.Coins {
    background-color: white;
}
.moneyNumAndAmount {
    width: 208px;
    height: 60px;
    text-align: center;
}
#result_Thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
}




